@using ArticleClient.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div id="body" ng-controller="clientCtrl">

    <div id="content">

        <div class="container">

            <div class="row">
    
                <div class="col-lg-8">
                    <div class="row space" ng-repeat="post in posts">
                        <div class="post">
                            <div class="title"><b><a href="">{{post.title}}</a></b></div>
                            <div class="imagebox">
                                <div class="image">
                                    <img src="{{post.image}}" />
                                </div>
                                <div class="descriptions">
                                    <div class="detail" id="descriptions">
                                     
                                    </div>

                                    <div class="tag">
                                        <div class="author"><span class="glyphicon glyphicon-user" aria-hidden="true"> {{post.author}}</span></div>
                                        <div class="category"><span class="glyphicon glyphicon-tag" aria-hidden="true"> {{post.category_name}}</span></div>
                                        <div class="postdate"><span class="glyphicon glyphicon-calendar" aria-hidden="true"> {{post.post_date}}</span></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-lg-4">
                    <ul class="nav nav-pills nav-stacked category-box">
                        <li class="active"><a href="#">ប្រភេទនៃអត្ថបទ</a></li>
                        <li ng-repeat="cat in categories"><a href="#">{{cat.name}}</a></li>
                        
                    </ul>

                    <div class="recently">
                        <div class="recently-title">ព័ត៍មានមុនៗ</div>
                        <div class="items" ng-repeat="post in posts">
                            <a href="">
                                <div class="items-img">
                                    <img src="{{post.image}}" />
                                </div>
                                <div class="items-title">{{post.title | limitTo:40}}{{post.title.length > 40 ? '...' : ''}}</div>
                            </a>
                        </div>
                       
                       
                    </div>

                </div>
            </div>

        </div>


    </div>


</div><!--end div #id-->
