@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container">
    <div id="article" class="col-xs-12 col-sm-8 col-md-9">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 ">
                <img src="~/assets/images/big/img1.jpg" class="img-responsive" style="max-height:100px;" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8">
                <ul class="list-group">
                    <li class="list-group-item-heading">title</li>
                    <li class="list-group-item-text">this is article post to inform new information</li>
                    <li class="list-group-item-info">post on Dec 03 2016</li>
                    <li class="list-group-item-success">poster : chhunly</li>
                </ul>
            </div>
            <hr />
        </div>

    </div>
    <div id="recent-post" class="col-xs-12 col-sm-4 col-md-3" style="background-color:red;">
        <div>
            this is recent
        </div>
        <div>
            this is recent
        </div>
        <div>
            this is recent
        </div>
    </div>
    <div id="">

    </div>
</div>
