@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container">
    <div id="recent-post">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="~/assets/images/big/img1.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="~/assets/images/big/img1.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="~/assets/images/big/img1.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <img src="~/assets/images/big/img1.jpg" class="img-responsive" />
        </div>
    </div>
    <div id="">

    </div>
</div>
