<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/clientstyle.css" rel="stylesheet" />
    @*<link href="~/assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet" />
    <script src="~/assets/js/bootstrap-dropdownhover.min.js"></script>*@
    @*<link href="~/assets/css/shortcode/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/assets/css/shortcode/core.css" rel="stylesheet" />
    <link href="~/assets/css/shortcode/shortcodes.css" rel="stylesheet" />*@

    <link href="~/DynamicMenu/css/core.css" rel="stylesheet" />

    <link href="~/DynamicMenu/css/shortcode/shortcodes.css" rel="stylesheet" />
    
</head>
<body ng-app="myApp">
    @Html.Partial("_PartialTopBarClient")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_PartialFooterClient")

    <!-- Bootstrap Dropdown Hover JS -->
    
    <script src="~/DynamicMenu/js/Vendor/jquery-1.12.1.min.js"></script>
    <script src="~/DynamicMenu/js/bootstrap.min.js"></script>

    @*<script src="~/assets/js/jquery.min.js"></script>*@
    @*<script src="~/assets/js/Vendor/jquery-1.12.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    @*<script src="~/assets/js/bootstrap.min.js"></script>*@
    <script src="~/assets/js/angular.min.js"></script>
    @*<script src="../../assets/js/request.js"></script>*@

    
    <script>
        var app = angular.module('myApp', []);
    </script>
    <script src="~/assets/js/menu.ctrl.js"></script>
    <script src="~/assets/js/menu.service.js"></script>
</body>


</html>