<script type="text/ng-template" id="menuTest">
    <a href="{{menu.page.url}}">{{ menu.title }}</a>
    <ul class="dropdown level2" ng-class="menu.submenu?'arrow-left':''" ng-if="menu.submenu">
        <li ng-repeat="menu in menu.submenu" ng-class="menu.submenu?'drop':''" ng-include="'menuTest'"></li>
    </ul>
</script>
@using ArticleClient.Models;
@{ 
    var user = null as usersession;
    try
    {
        user = Session["user"] as usersession;
    }
    catch (Exception)
    {

        throw;
    }
}
<div ng-controller="menuCtrl">
        <nav class="primary-menu navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">ប្រជុំពត៌មាន</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="clearfix nav navbar-nav">
                        <li class="active"><a href="/home"><span class="glyphicon glyphicon-home"></span> ទំព័រដើម</a></li>
                        <li class="drop" ng-repeat="menu in menuTree" ng-include="'menuTest'"></li>
                    </ul>
              
                    <ul class="nav navbar-nav navbar-right">
                        @{
                            if (user == null){
                                <li><a href="#"><span class="glyphicon glyphicon-edit"></span> ចុះឈ្មោះ</a></li>
                                <li><a href="/account"><span class="glyphicon glyphicon-lock"></span> ចូលគណនី</a></li>
                            }
                            else{
                            <li class="drop"><a href="/user/profile"><span class="glyphicon glyphicon-log-in"></span> គណនី</a>
                            <ul class="dropdown">
                                @{
                                    if (user.RoleName == "admin" || user.RoleName == "editor")
                                    {
                                        <li><a href="/post">ប្រជុំពត៌មាន</a></li>
                                    }
                                }
                                <li><a href="/user/profile"><span class="glyphicon glyphicon-user"></span> អំពីខ្ញុំ</a></li>
                                <li><a href="/account/logout"><span class="glyphicon glyphicon-log-out"></span> ចាកចេញ</a></li>
                            </ul>
                        </li>
                            }
                        }
                        
                        
                    </ul>
                </div>
           </div>
       </nav>

    
</div>
