
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-info-alt"></i> <span>គ្រប់គ្រងព៍ត៌មាន </span> </a>
                    <ul class="list-unstyled">
                        <li class="active"><a href="/post">ព៍ត៌មានទាំងអស់</a></li>
                        <li><a href="/post/addNew">បន្ថែមព័ត៌មានថ្មី</a></li>

                        <li class=""><a href="/post">hshf</a></li>
                        <li><a href="/post/addNew">បន្ថែមព័ត៌មានថ្មី</a></li>
                        <li><a href="/f">បន្ថែមព័ត៌មានថ្មី</a></li>
                        <li><a href="/fj">ប្រភេទព័ត៌មាន</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-book"></i> <span> គ្រប់គ្រងទំព័រ </span> </a>
                    <ul class="list-unstyled">
                        <li><a href="">ទំព័រទាំងអស់</a></li>
                        <li><a href="">បន្ថែមទំព័រថ្មី</a></li>

                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-menu-alt"></i><span>​ គ្រប់គ្រងមីនុយ </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-user"></i> <span> គ្រប់គ្រងអ្នកប្រើប្រាស់ </span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/user">អ្នកប្រើប្រាស់ទាំងអស់</a></li>
                        <li><a href="/user/addnew">បន្ថែមអ្នកប្រើប្រាស់</a></li>
                        <li><a href="/user/profile">អំពីយើង</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>