<div class="content">
  <div class="container">
    <div class="col-lg-12">
      <label style="font-size:20px;">បន្ថែមព័ត៌មានថ្មី</label>
      <textarea id="editor1"  name="editor1" ng-model="contents"></textarea>
    </div>
      <div class="col-lg-12" style="padding-top:10px">
        <input type="button"  ng-click="savePost()" class="btn btn-md btn-primary pull-right" value="រក្សារទុក"/>
      </div>

    <script type="text/javascript">
      CKEDITOR.replace('editor1', {     
       filebrowserBrowseUrl: '/post/uploadPartial',
       filebrowserUploadUrl: '/uploader/uploadnow'
      });

      function updateValue(id, value) {
      document.getElementById(id).value = value;
      }
    </script>
  </div>
</div>


