<div id="change_password" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:​500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ប្តូរលេខសំងាត់</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">លេខសំងាត់បច្ចុប្បន្ន</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="បញ្ចូលលេខសំងាត់" ng-model="currentpasswd" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">លេខសំងាត់ថ្មី</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="បញ្ចូលលេខសំងាត់ថ្មី" ng-model="newpasswd" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">បញ្ជាក់ម្តងទៀត</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="បញ្ចូលលេខសំងាត់ថ្មីម្តងទៀត" ng-model="confirm" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="updatepassword()" class="btn btn-primary">រក្សារទុក</button>
            </div>
        </div>

    </div>
</div>