<div class="content" ng-controller="myCtrl">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                <div class="col-sm-12">
                    <div class="col-sm-12" style="padding-top:15px;">
                        <h4 class="m-t-0 m-b-30 header-title">បន្ថែមអ្នកប្រើប្រាស់ថ្មី</h4>
                    </div>
                    <div class="col-sm-6 form-inline" style="padding-bottom:10px;">
                        <label class="control-label">បង្ហាញ</label>
                        <select class="form-control">
                            <option value="value">5</option>
                            <option value="value">10</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-inline pull-right">
                            <label class="control-label">ស្វែងរក</label>
                            ​<input type="text" class="form-control" name="txtSearchUser" placeholder="ស្វែងរក" />
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ឈ្មោះគណនី</th>
                                <th>ឈ្មោះ</th>
                                <th>អីុម៉ែល</th>
                                <th>មុខងារ</th>
                                <th>ថ្ងៃចុះឈ្មោះ</th>
                                <th>សកម្មភាព</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr ng-repeat="user in allUsers">
                                <td>{{user.Name}}</td>
                                <td>{{user.Firstname}} {{user.Lastname}}</td>
                                <td>{{user.Email}}</td>
                                <td>{{user.RoleName}}</td>
                                <td>date</td>
                                <td>
                                    ​​<input type="button" ng-click="userDelete(user.id)" value="លុប" class="btn btn-danger btn-sm">
                                    <input type="button" ng-click="userEdit(this)"  value="កែប្រែ" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#useredit">
                                </td>
                            </tr>
    

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div> <!-- container -->

    <!--model user edit-->
    <div id="useredit" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:80%">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">កែប្រែអ្នកប្រើប្រាស់</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal group-border-dashed">
                       
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ឈ្មោះគណនី</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="user_account" required placeholder="បញ្ចូលឈ្មោះគណនី" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">អុីម៉ែល</label>
                            <div class="col-sm-9">
                                <input type="email" ng-model="user_email" class="form-control" required parsley-type="email" placeholder="បញ្ចូលអុីម៉ែល" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">គោត្តនាម</label>
                            <div class="col-sm-3">
                                <input type="text" ng-model="user_firstname" class="form-control" required placeholder="បញ្ចលឈ្មោះ" />
                            </div>
                            <label class="col-sm-2 control-label">នាមខ្លូន</label>
                            <div class="col-sm-3">
                                <input type="text" ng-model="user_lastname" class="form-control" required placeholder="បញ្ចលឈ្មោះ" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ភេទ</label>
                            <div class="col-sm-3">
                                <select ng-model="user_gender" class="form-control">
                                    <option value="0">ជ្រើសរើស</option>
                                    <option value="M">ប្រុស</option>
                                    <option value="F">ស្រី</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">លេខសំងាត់</label>
                            <div class="col-sm-9">
                                <input type="password" ng-model="user_pwd" class="form-control" required parsley-type="email" placeholder="បញ្ចូលលេងសំងាត់" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ផ្តៀងផ្តាត់លេខសំខាត់</label>
                            <div class="col-sm-9">
                                <input type="password" ng-model="user_cpwd" class="form-control" required parsley-type="email" placeholder="បញ្ចូលផ្តៀងផ្តាត់លេខសំខាត់" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">កំនត់មុខងារ</label>
                            <div class="col-sm-3">
                                <select name="" id="" ng-model="role_id" class="form-control">
                                    <option value="0">ជ្រើសរើស</option>
                                    <option ng-repeat="item in userroles" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="button" value="បង្កើតច្មី" name="" class="btn btn-md​​​​​   btn-success " data-toggle="modal" data-target="#RoleModal">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="saveUserupdate()" class="btn btn-primary">រក្សារទុក</button>
                </div>
            </div>

        </div>
    </div>

</div> <!-- content -->
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

